@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Londrina+Shadow&family=Londrina+Sketch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Londrina+Shadow&family=Londrina+Sketch&family=Rubik+Scribble&display=swap");
$primary-color: #04da4b;

$font-text: "inter", sans-serif;
$font-display: "Rubik Scribble", cursive;
$background: #333;
$elevation: #444;
